.carousel-cotainer {
	padding: 20px;
	padding-top: 17px;
	white-space: nowrap;
	overflow: hidden;
	padding-right: 0;
	width: 100%;
	overflow-y: auto;
	display: inline-block;
	img {
		display: inline-block;
		height: 60px;
		width: 77px;
		object-fit: cover;
		background: #f5f5f5;
		margin-right: 0.9rem;
		border-radius: 15px;
		border: 2px solid transparent;
		cursor: pointer;
		&:hover {
			border: 2px solid #2e70e6;
		}
	}
}
