.variant {
	font-size: 16px;
	font-family: bold;
	margin-top: 19px;
}

.variant-container {
	display: inline-block;
	max-width: 90%;
}

.variants {
	padding: 8px 14px;
	font-family: bold;
	border-radius: 8px;
	font-size: 16px;
	background: #e8eaef;
	word-break: keep-all;
	margin-left: 0px;
	display: inline-block;
	margin-right: 9px;
	margin-top: 7px;
	cursor: pointer;
	&:hover {
		outline: 2px solid #2e70e6;
	}
	&:active {
		color: white;
		transform: scale(0.99);
		background: #2e70e6;
	}
	color: #000f34;
}
