<div class="screen">
	<app-product
		*ngIf="product !== undefined"
		[image]="product.url"
		[title]="product.name"
		[brief_description]="product.brief_description"
		[currency]="product.currency"
		[variants]="chosenVariants"
		[price]="
			product.discounted_price === null
				? product.price
				: product.discounted_price
		"
	></app-product>

	<div class="content-title title">Personal Information</div>

	<div class="form-group">
		<label>Full name</label>
		<input
			[(ngModel)]="buyerDetails.name"
			type="text"
			class="form-control"
		/>
	</div>

	<div class="form-group">
		<label>Mobile</label>
		<input
			[(ngModel)]="buyerDetails.mobile"
			placeholder="+97100-000-0000"
			type="text"
			class="form-control"
		/>
	</div>

	<div class="form-group">
		<label>Email</label>
		<input
			[(ngModel)]="buyerDetails.email"
			type="text"
			class="form-control"
		/>
	</div>

	<div class="content-title title">Shipping Address</div>

	<div class="form-group">
		<label>Country</label>
		<input
			[(ngModel)]="buyerDetails.country"
			type="text"
			class="form-control"
		/>
	</div>

	<div class="form-group">
		<label>City</label>
		<input
			[(ngModel)]="buyerDetails.city"
			type="text"
			class="form-control"
		/>
	</div>

	<div class="form-group">
		<label>Address / Flat no. / villa no./ Street</label>
		<input
			[(ngModel)]="buyerDetails.address"
			type="text"
			class="form-control"
		/>
	</div>

	<div class="form-group">
		<label>Land mark</label>
		<input
			[(ngModel)]="buyerDetails.landMark"
			type="text"
			class="form-control"
		/>
	</div>

	<div class="form-group">
		<label>ZIP Code</label>
		<input
			[(ngModel)]="buyerDetails.zipCode"
			type="text"
			class="form-control"
		/>
	</div>

	<button (click)="submitForm()" class="btn btn-primary">Next</button>
</div>
