<div class="screen">
	<div *ngIf="!data" class="spinner-grow text-primary"></div>
	<div class="image">
		<img [src]="data.product.url" alt="" />
	</div>
	<div *ngIf="data" class="text-left alert alert-info text-bold">
		You have successfully transferred the payment to {{ data.seller.name }}
	</div>
	<div class="congratulations text-left">
		Your {{ data.product.name }} has been ordered.
	</div>
	<br />
	<div *ngIf="data" class="desc text-left">
		<div style="word-break: break-all">
			<span class="title"> Ref:</span>
			<br />
			{{ data.summary.reference_number }}
		</div>
		<br />
		<div>{{ data.product.name }}</div>
		<div class="title">
			{{ data.product.currency }} {{ data.product.price }}
		</div>
		<div *ngFor="let variants of data.chosen_variants">
			<br />
			<div class="title">
				{{ variants.variant.name }}
			</div>
			<div>
				{{ variants.variant.value }}
			</div>
		</div>
	</div>

	<button
		*ngIf="data"
		style="margin-top: 59px"
		(click)="close()"
		class="btn btn-primary"
	>
		Thank you
	</button>
</div>
