<div class="screen">
	<div *ngIf="!data" class="spinner-grow text-primary"></div>
	<div class="image">
		<img [src]="data.product.url" alt="" />
	</div>
	<div class="congratulations text-left">
		Your {{ data.product.name }} has been ordered.
	</div>
	<div class="desc mt-5 text-left">
		You have successfully transferred the payment to {{ data.seller.name }}
	</div>
	<div *ngIf="data" class="desc mt-5 text-left">
		<div style="word-break: break-all">
			<span class="title"> Ref:</span>
			<br />
			{{ data.summary.reference_number }}
		</div>
		<br />
		<div>{{ data.product.name }}</div>
		<div class="title">
			{{ data.product.currency }} {{ data.product.price }}
		</div>

		<div>Card: {{ data.payment.payment_info.payment_description }}</div>
	</div>

	<button
		*ngIf="data"
		style="margin-top: 59px"
		(click)="close()"
		class="btn btn-primary"
	>
		Thank you
	</button>
</div>
