<div class="screen">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<img
					class="big-img w-100"
					src="../../../assets/images/nike1.png"
					alt=""
				/>
				<app-carousel></app-carousel>

				<div class="description-container ml-2 mt-0">
					<span class="badge badge-warning text-white">New</span>

					<div class="product-title">Nike Blue Precision Iv</div>

					<div class="sub-title muted">Unisex Basketball Shoes</div>

					<div class="price-container">
						<span class="price title">$ 74</span>
						<span class="discounted-price text">$ 74</span>
					</div>

					<app-variants></app-variants>

					<div class="title description">Description</div>

					<div class="text description-text">
						A pair of blue basketball sports shoes, has mid-top
						styling, lace-up detail Lightweight knit material with a
						low-cut collar provides a secure, supportive fit while
						maintainin ankle mobility. A multi-directional outsole
						pattern with rubber wrapped up the sides helps you grip
						the court.
					</div>

					<button
						routerLink="/payment-details"
						class="btn touchable button"
					>
						<img
							class="w-100"
							src="../../../assets/images/continue_button.png"
							alt=""
						/>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
