<div class="container p-0">
	<img class="big-img w-100" src="../assets/nike.png" alt="" />
	<div class="container p-3" style="overflow: auto; white-space: nowrap">
		<img
			*ngFor="let item of [1, 2, 3, 4]"
			class="small-img mr-2"
			src="../assets/nike.png"
			alt=""
		/>
	</div>
	<div class="badge badge-warning ml-3">New</div>
	<h1 class="p-3">Nike Blue Precision lv</h1>
	<p class="p-3 muted">Unisex Basketball Shoes</p>
	<h2 class="p-3">
		<span class="bold">$ 74 </span> <span class="muted">$ 74 </span>
	</h2>

	<h2 class="p-3 bold">Size UK</h2>
</div>
