<div class="container">
	<div class="row">
		<div class="col-md-12">
			<img
				class="big-img w-100"
				src="../../../assets/images/shoe2.jpeg"
				alt=""
			/>
			<app-carousel></app-carousel>

			<div class="description-container ml-2">
				<span class="badge badge-warning text-white">New</span>

				<div class="product-title">Nike Blue Precision Iv</div>

				<div class="sub-title">Unisex Basketball Shoes</div>

				<div class="price-container">
					<span>$ 74</span>
					<span>$ 74</span>
				</div>
			</div>
		</div>
	</div>
</div>
