.big-img {
	height: 230px;
	object-fit: cover;
	background: var(--bg1);
	border-bottom: ar(--border);
}
.description-container {
	padding-left: 1.5rem;
	margin-top: -20px;
}

.badge {
	height: 21px;
	border-radius: 5px;
	background: #ffb100;
	padding: 3px 8px;
	padding-top: 4px;
	margin-bottom: -10px;
}

.product-title {
	font-family: bold;
	font-size: 20px;
	margin-top: 10px;
	color: var(--color1);
}

.sub-title {
	margin-bottom: 12px;
	font-size: 14px;
}

.price-container {
	font-size: 14;
	.price {
		font-family: bold;
	}
	.discounted-price {
		margin-left: 13px;
		text-decoration: line-through;
	}
}

.description {
	font-size: 16px;
	font-family: bold;
	margin-bottom: 13px;
	margin-top: 30px;
}

.description-text {
	font-size: 15px;
	line-height: 26px;
	padding-right: 23px;
}

.button {
	img {
		max-width: 92%;
	}
}

.btn {
	margin-top: 25px;
	width: 93%;
}
