* {
	font-family: 'Montserrat';
}

.container {
	padding: 0 !important;
}

body,
html {
	padding: 0;
}

.bold {
	font-weight: bold;
}

.jcc {
	justify-content: center;
}

.aic {
	align-items: center;
}

.product-title {
}

.title {
}

.sub-title {
}

.normal {
}
