@font-face {
	font-family: 'bold';
	src: url('./assets/fonts/Montserrat-bold.ttf');
}

@font-face {
	font-family: 'normal';
	src: url('./assets/fonts/Montserrat-Regular.ttf');
}

* {
	font-family: normal;
}

.container {
	padding: 0 !important;
}

body,
html {
	padding: 0;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

.col-md-12 {
	padding: 0 !important;
	padding-right: 0 !important;
}

.bold {
	font-weight: bold;
}

.jcc {
	justify-content: center;
}

.aic {
	align-items: center;
}

.title {
	color: #130d25;
}

.badge-warning {
	background-color: #ffb100;
	font-weight: 200;
}

.muted {
	color: #727788;
}

.text {
	color: #5f6a84 !important;
}

.touchable {
	padding: 0;
	margin: 0;
	background: none;
	padding-right: 28px;
}
