* {
	font-family: 'Montserrat';
}

.container {
	padding: 0 !important;
}

body,
html {
	padding: 0;
	height: 100%;
	width: 100%;
}

.col-md-12 {
	padding: 0 !important;
	padding-right: 0 !important;
}

.bold {
	font-weight: bold;
}

.jcc {
	justify-content: center;
}

.aic {
	align-items: center;
}

.product-title {
	font-weight: 900;
}

.title {
}

.sub-title {
}

.normal {
}

.badge-warning {
	background-color: #ffb100;
	font-weight: 200;
}
